{% extends 'base.html.twig' %}

{% block title %}New Meeting{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Propose a new meeting
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {# store the prototype on the data-prototype attribute #}
            <div id="attendee-fields-list" data-widget-tags="{{ "<div></div>"}}" data-prototype="
                <div class='row' id='attendee-row-{{ form.attendees.vars.prototype.vars.name }}'>
                    <div class='col-md-6'><div class='form-group'>{{ form_widget(form.attendees.vars.prototype.user)|e }}</div></div>
                    <div class='col-md-4'><div class='form-group'>{{ form_widget(form.attendees.vars.prototype.required)|e }}</div></div>
                    <div class='col-md-2'><div class='form-group'><button type='button' onclick='deleteAttendee({{ form.attendees.vars.prototype.vars.name }})' class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                </div>">
                <label>Attendees</label>
                {% for attendeeField in form.attendees %}
                    <div>
                        <div class="row" id='attendee-row-{{ attendeeField.vars.name }}'>
                            <div class='col-md-6'><div class='form-group'>{{ form_widget(attendeeField.user)|e }}</div></div>
                            <div class='col-md-4'><div class='form-group'>{{ form_widget(attendeeField.required)|e }}</div></div>
                            <div class="col-md-2"><div class='form-group'><button type="button" onclick="deleteAttendee({{ attendeeField.vars.name }})" class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                        </div>
                    </div>
                    {{ form_errors(attendeeField) }}
                {% endfor %}
            </div>
            <button type="button" class="add-another-attendee-widget btn btn-sm btn-outline-success" data-list="#attendee-fields-list"><i class='fa fa-plus'></i> Add Attendee</button>

            <hr>
            {# store the prototype on the data-prototype attribute #}

            <div id="slot-fields-list" data-widget-tags="{{ "<div></div>"}}" data-prototype="
                <div class='row' id='slot-row-{{ form.proposedSlots.vars.prototype.vars.name }}'>
                    <div class='col-md-5'><div class='form-group'>{{ form_widget(form.proposedSlots.vars.prototype.date.children.date)|e }}</div></div>
                    <div class='col-md-5'><div class='form-group'>{{ form_widget(form.proposedSlots.vars.prototype.date.children.time)|e }}</div></div>
                    <div class='col-md-2'><div class='form-group'><button type='button' onclick='deleteSlot({{ form.proposedSlots.vars.prototype.vars.name }})' class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                </div>">
                <label>Proposed Slots</label>
                {% for slotField in form.proposedSlots %}
                    <div>
                        <div class="row" id='slot-row-{{ slotField.vars.name }}'>
                            <div class="col-md-6"><div class='form-group'>{{ form_widget(slotField.date.children.date) }}</div></div>
                            <div class="col-md-6"><div class='form-group'>{{ form_widget(slotField.date.children.time) }}</div></div>
                            <div class="col-md-2"><div class='form-group'><button type="button" onclick="deleteSlot({{ slotField.vars.name }})" class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                        </div>
                    </div>
                    {{ form_errors(slotField) }}
                {% endfor %}
            </div>
            <button type="button" class="add-another-slot-widget btn btn-sm btn-outline-success" data-list="#slot-fields-list"><i class='fa fa-plus'></i> Add Slot</button>
            <hr>
            <button class="btn btn-primary">Submit Proposal</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('index') }}">Back to dashboard</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-another-attendee-widget').click(function (e) {
                var attendeeList = $($(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var attendeeCounter = attendeeList.data('attendee-widget-counter') | attendeeList.children().length;

                // grab the prototype template
                var newAttendeeWidget = attendeeList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newAttendeeWidget = newAttendeeWidget.replace(/__name__/g, attendeeCounter);
                // Increase the counter
                attendeeCounter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                attendeeList.data('attendee-widget-counter', attendeeCounter);

                // create a new list element and add it to the list
                var newAttendeeElem = $(attendeeList.attr('data-widget-tags')).html(newAttendeeWidget);
                newAttendeeElem.appendTo(attendeeList);
            });

            $(document).ready(function () {
                $('.add-another-slot-widget').click(function (e) {
                    var slotList = $($(this).attr('data-list'));
                    // Try to find the counter of the list or use the length of the list
                    var slotCounter = slotList.data('slot-widget-counter') | slotList.children().length;

                    // grab the prototype template
                    var newSlotWidget = slotList.attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    newSlotWidget = newSlotWidget.replace(/__name__/g, slotCounter);
                    // Increase the counter
                    slotCounter++;
                    // And store it, the length cannot be used if deleting widgets is allowed
                    slotList.data('slot-widget-counter', slotCounter);

                    // create a new list element and add it to the list
                    var newslotElem = $(slotList.attr('data-widget-tags')).html(newSlotWidget);
                    newslotElem.appendTo(slotList);
                });
            });
            function deleteAttendee(index) {
                $('#attendee-row-' + index).parent().remove();
            }
            function deleteSlot(index) {
                $('#slot-row-' + index).parent().remove();
            }
        });
    </script>
{% endblock %}
