{% extends 'base.html.twig' %}

{% block title %}New Meeting{% endblock %}

{% block content %}
    <p>
        <a href="{{ path('dashboard') }}"><i class="fas fa-angle-left"></i> Back to dashboard</a>
    </p>
    <div class="card">
        <div class="card-header">
            Propose a new meeting
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {# store the prototype on the data-prototype attribute #}
            <div id="attendee-fields-list" data-widget-tags="{{ "<div></div>"}}" data-prototype="
                <div class='row' id='attendee-row-{{ form.attendees.vars.prototype.vars.name }}'>
                    <div class='col-md-6'><div class='form-group'>{{ form_widget(form.attendees.vars.prototype.user)|e }}</div></div>
                    <div class='col-md-4'><div class='form-group'>{{ form_widget(form.attendees.vars.prototype.important)|e }}</div></div>
                    <div class='col-md-2'><div class='form-group'><button type='button' onclick='deleteAttendee({{ form.attendees.vars.prototype.vars.name }})' class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                </div>">
                <label>Attendees</label>
                {% for attendeeField in form.attendees %}
                    <div>
                        <div class="row" id='attendee-row-{{ attendeeField.vars.name }}'>
                            <div class='col-md-6'><div class='form-group'>{{ form_widget(attendeeField.user)|e }}</div></div>
                            <div class='col-md-4'><div class='form-group'>{{ form_widget(attendeeField.important)|e }}</div></div>
                            <div class="col-md-2"><div class='form-group'><button type="button" onclick="deleteAttendee({{ attendeeField.vars.name }})" class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                        </div>
                    </div>
                    {{ form_errors(attendeeField) }}
                {% endfor %}
            </div>
            <button type="button" class="add-another-attendee-widget btn btn-sm btn-outline-success" data-list="#attendee-fields-list"><i class='fa fa-plus'></i> Add Attendee</button>

            <hr>
            {# store the prototype on the data-prototype attribute #}

            <div id="slot-fields-list" data-widget-tags="{{ "<div></div>"}}" data-prototype="
                <div class='row' id='slot-row-{{ form.proposedSlots.vars.prototype.vars.name }}'>
                    <div class='col-md-5'><div class='form-group'>{{ form_widget(form.proposedSlots.vars.prototype.date.children.date)|e }}</div></div>
                    <div class='col-md-5'><div class='form-group'>{{ form_widget(form.proposedSlots.vars.prototype.date.children.time)|e }}</div></div>
                    <div class='col-md-2'><div class='form-group'><button type='button' onclick='deleteSlot({{ form.proposedSlots.vars.prototype.vars.name }})' class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                </div>">
                <label>Proposed Slots</label>
                {% for slotField in form.proposedSlots %}
                    <div>
                        <div class="row" id='slot-row-{{ slotField.vars.name }}'>
                            <div class="col-md-6"><div class='form-group'>{{ form_widget(slotField.date.children.date) }}</div></div>
                            <div class="col-md-6"><div class='form-group'>{{ form_widget(slotField.date.children.time) }}</div></div>
                            <div class="col-md-2"><div class='form-group'><button type="button" onclick="deleteSlot({{ slotField.vars.name }})" class='btn btn-sm btn-outline-danger'><i class='fa fa-trash'></i></button></div></div>
                        </div>
                    </div>
                    {{ form_errors(slotField) }}
                {% endfor %}
            </div>
            <button type="button" class="add-another-slot-widget btn btn-sm btn-outline-success" data-list="#slot-fields-list"><i class='fa fa-plus'></i> Add Slot</button>
            <hr>
            {{ form_rest(form) }}
            <button class="btn btn-primary">Submit Proposal</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'meeting/partial/addRemoveJs.html.twig' %}
{% endblock %}