{% extends 'base.html.twig' %}

{% block title %}Meeting{% endblock %}

{% block body %}
    <h1>Meeting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ meeting.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ meeting.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('meeting_index') }}">back to list</a>

    <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>

    {{ include('meeting/_delete_form.html.twig') }}
{% endblock %}
