{% extends 'base.html.twig' %}

{% block content %}
    {% if notifications is defined and notifications|length > 0 %}
        <div class="card mb-4" style="border-left-width: .25rem;border-left-color: #5bc0de;">
            <div class="card-header">
                Notifications - <small>Hear Ye, Hear Ye <i class="fas fa-bullhorn"></i></small>
            </div>
            <div class="card-body">
                <ul>
                    {% for notification in notifications %}
                        <li><strong>{{ notification.title }}</strong> - {{ notification.message|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="card mb-4">
        <div class="card-header">
            Your Meetings -
            <small>meetings that you have initiated</small>
        </div>
        <div class="card-body">
            {% if initiated|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Responses</th>
                        <th>Meeting Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in initiated %}
                        <tr>
                            <td>{{ meeting.title }}</td>
                            <td>{{ meeting.countResponses }} / {{ meeting.countParticipants }}</td>
                            <td><span class="badge badge-pill badge-{% if meeting.status == 'Scheduled' %}success{% elseif meeting.status == 'Action Required' %}danger{% else %}warning{% endif %}">{{ meeting.status }}</span></td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{{ path('meeting_edit', {'id': meeting.id}) }}">Edit Meeting</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div class="no-meetings text-center">
                    <img src="{{ asset('images/undraw_calendar_dutt.svg') }}" class="m-4">
                    <p>You haven't initiated any meetings yet. <a href="{{ path('meeting_new') }}">Propose one now!</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Proposals -
            <small>meetings that you have been invited to</small>
        </div>
        <div class="card-body">
            {% if proposed|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Responded</th>
                        <th>Meeting Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in proposed %}
                        <tr>
                            <td>{{ meeting.title }}</td>
                            <td>{% if meeting.userHasResponded(app.user) %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                            <td><span class="badge badge-pill badge-{% if meeting.status == 'Scheduled' %}success{% elseif meeting.status == 'Action Required' %}danger{% else %}warning{% endif %}">{{ meeting.status }}</span></td>
                            <td>
                                <a href="{{ path('meeting_response', {'id': meeting.id}) }}" class="btn btn-sm btn-info">{{ meeting.userHasResponded(app.user) ? 'Edit Reponse' : 'Respond' }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="no-meetings text-center">
                    <img src="{{ asset('images/undraw_meeting_115p.svg') }}" class="m-4">
                    <p>You have no pending meeting proposals.</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Scheduled -
            <small>meetings scheduled for you to attend</small>
        </div>
        <div class="card-body">
            {% if scheduled|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Scheduled Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in scheduled %}
                        <tr>
                            <td>{{ meeting.title }}</td>
                            <td>{{ meeting.location ? meeting.location.name : '-' }}</td>
                            <td>{{ meeting.scheduledSlot.date|date('d/M/y H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="no-meetings text-center">
                    <img src="{{ asset('images/undraw_celebration_0jvk.svg') }}" class="m-4">
                    <p>You have no scheduled meetings 🎉.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
